SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/civicpulse_grievance_db
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=

AZURE_STORAGE_CONNECTION_STRING=${AZURE_STORAGE_CONNECTION_STRING:DefaultEndpointsProtocol=https;AccountName=musicstream;AccountKey=FYKTDaRgzmwrlSfxuYRezlC6R9/4Pf59OpWnWuLFY2fbTAz/yPLuQc+N2usTFV2AuOWQiY7UWTDd+AStIurn9Q==;EndpointSuffix=core.windows.net}
AZURE_STORAGE_CONTAINER_NAME=civicpulse-images